.gitignore
.idea/*
/target
/project/project
/project/target
!/target/scalastyle-result.xml
# Ignore everything
#*

# But not these files...
#!.gitignore
#!script.pl
#!template.latex
# etc...

# ...ev
#!*/
